@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

:root {
  font-size: 16px;
  --heading-1: calc(36px + 2vw);
  --heading-2: calc(20px + 1.5vw);
  --heading-3: calc(20px + 1vw);
  --paragraph: calc(16px + 0.3vw);
  --yellow: #ffa726;
  --bg-color: #212121;
  --white-color: #eceff1;
  --grey-color: #8892b0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background: var(--bg-color);
}
h1 {
  font-size: var(--heading-1);
  font-family: 'Open Sans-Black', sans-serif;
  letter-spacing: 0.1rem;
  padding: 2vw 0;
}
h2 {
  font-size: var(--heading-2);
  font-family: 'Open Sans-Bold', sans-serif;
  padding-bottom: 1.5rem;
}
h3 {
  font-size: var(--heading-3);
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
}
p {
  font-size: var(--paragraph);
  line-height: 1.5;
}
hr {
  border: none;
  width: 70vw;
  border-top: 0.3rem dotted #ffa82656;
  border-left-style: none;
  border-right-style: none;
  margin: 1vw auto;
}
.yellow {
  color: var(--yellow);
}
.fwh-slide {
  height: 100vh;
  width: 100vw;
}
/* HOME PAGE  */
#home-page {
  max-width: 75vw;
  margin: auto;
}
#intro-text {
  padding: 2rem;
}
#intro-text p {
  color: var(--grey-color);
}
/* ABOUT ME */
.about-content {
  width: 95vw;
  margin: 0 auto;
}
@media (min-width: 599px) {
  .about-content {
    width: 80vw;
  }
  .about-content p {
    line-height: 3.5;
  }
}
/* CONTACT  */
.contact-content i {
  margin: 1rem;
}
/* EDUCATION  */

.education-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-box .card h3 {
  text-decoration: underline;
}
.education-box .card p {
  color: var(--grey-color);
}
/* SKILLS LANGUAGES */

.card.card--languages p {
  color: var(--grey-color);
}
/* HEADER + NAVBAR + HAMBURGER TOGGLE */
header {
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #000;
}
/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Hamburger Button styling */
.menu-toggle {
  display: inline-block;
  padding: 0.2rem;
  line-height: 1em;
  font-size: 2rem;
  color: rgba(221, 205, 205, 0.671);
  margin-left: auto;
  margin-right: 1rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--yellow);
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: var(--bg-color);
}

.main-menu a {
  display: block;
  padding: 0.5em 15px;
  line-height: 1em;
  font-size: calc(20px + 0.4vw);
  color: var(--white-color);
  text-decoration: none;
  border-bottom: none;
}

.main-menu li:first-child a {
  border-top: 1px solid var(--yellow);
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded='true'] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded='true'] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded='true'] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded='true'] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;

  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded='true'] + .backdrop {
    position: fixed;
  }
}
/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }

  .main-menu ul {
    display: flex;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a {
    color: var(--white-color);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: var(--yellow);
    transform: scale(1.2);
  }
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* FOOTER */
#footer {
  font-size: calc(20px + 0.2vw);
  width: 100vw;
  height: 60px;
  color: var(--yellow);
  background-color: #000;
  padding: 15px;
  letter-spacing: 3px;
}
